In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from IPython import display
import warnings
import seaborn as sns
import ehrapy as ep
import anndata as ad

plt.style.use("ggplot")
warnings.filterwarnings("ignore")

# Benchmark dataset creation
# https://github.com/YerevaNN/mimic3-benchmarks
#https://github.com/cmsalgado/book_chapter/blob/master/book_chapter.ipynb

In [21]:
adata = ep.io.read_csv("./notebooks/ehrapy_data/icu_stay_labsdiag.csv.gz", 
            index_column='stay_id',
            columns_obs_only=['subject_id', 'intime', 'outtime', 'hadm_id', 'has_J18', 'dod', 'gender', 'ethnicity', 'insurance'])

In [22]:
data = adata.to_df()
data.index = data.index.astype(int)

In [25]:
adata.to_df().head()

,Age,hospital_death,los,has_E87,has_I50,has_N17,has_J96,has_E11,has_I25,has_E78,...,Sodium (serum)_min,Temperature Fahrenheit_max,Temperature Fahrenheit_mean,Temperature Fahrenheit_min,Total Bilirubin_max,Total Bilirubin_mean,Total Bilirubin_min,WBC_max,WBC_mean,WBC_min
stay_id,,,,,,,,,,,,,,,,,,,,,
39698942,73.0,1.0,19.806389,1.0,1.0,0.0,1.0,1.0,1.0,1.0,...,137.0,97.900002,97.666664,97.500000,4.5,4.35,4.2,13.800000,12.150000,10.5
33685454,80.0,0.0,148.293884,1.0,1.0,0.0,0.0,0.0,1.0,1.0,...,137.0,98.800003,97.433334,96.000000,NaN,NaN,NaN,6.500000,4.942857,3.8
31090461,80.0,0.0,93.394722,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,134.0,99.400002,97.800003,96.900002,NaN,NaN,NaN,9.500000,8.475000,6.9
32358465,80.0,1.0,20.605833,1.0,0.0,0.0,0.0,0.0,1.0,1.0,...,125.0,97.699997,96.327271,96.000000,NaN,NaN,NaN,7.100000,7.100000,7.1
33987268,80.0,0.0,119.547226,1.0,0.0,1.0,0.0,0.0,0.0,1.0,...,128.0,102.300003,98.554283,97.500000,NaN,NaN,NaN,33.400002,26.066668,20.4

In [4]:
adata.obs["mortality_cat"] = adata[:, "hospital_death"].X
adata.obs["mortality_cat"] = adata.obs["mortality_cat"].astype(int).astype(str)
adata.obs["stay_id"] = adata.obs.index.astype(int)
adata

ValueError: Data must be 1-dimensional, got ndarray of shape (9864, 1) instead